/* SVG color inheritance */
svg [fill]:not([fill='none']) {
  fill: currentColor;
}

svg [stroke]:not([stroke='none']) {
  stroke: currentColor;
}

/* SVG transitions */
svg * {
  transition-property: fill, stroke;
}
